


@media (max-width: 425px) {
    main div.border.rounded-3 {
        width: 75% !important;
        padding: 1rem;
    }
    small {
        font-size: 10px;
        margin-top: 5px;
    }
    input.form-control, input.form-control:focus {
        padding: 5px;
        font-size: 12px;
        box-shadow: none;
        border-radius: 5px;
    }
    input.form-control::placeholder {
        font-size: 12px;
    }
    label {
        font-size: 12px;
    }
    button.btn {
        font-size: 12px;
    }
}