<!doctype html>
{% load static %}
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">

      <link rel="shortcut icon" href="{% static 'images/shortcut-icon.png' %}" type="image/x-icon" />

      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

      <!-- Icons -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
      <link rel="stylesheet" href="{% static 'css/_responsice_sidebar.css' %}">
      <link rel="stylesheet" href="{% static 'css/_responsive_list_pages.css' %}">
      <link rel="stylesheet" href="{% static 'css/responsive_crud_form.css' %}">

      <title>IT Center Bagdad</title>
</head>     

<body class="position-absolute h-100 w-100 bg-dark">


      {% block content %} {% endblock content %}

      {% include 'components/_messages.html' %}
      {% include 'components/_modal_message.html' %}


      <!--<script src="{% static 'js/bootstrap_main.js' %}"></script>-->
      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
      <script type="module" src="{% static 'js/main.js' %}"></script>

</body>

</html>
